<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>Site</key>
		<string>parldebates.ru</string>
		<key>Desc</key>
		<string>Участники сообщества в форме игры осваивают технику ведения парламентских дебатов. Здесь ты сможет развить умение отстоивать свою точку зрения, парировать, обосновывать, развить ло¬гические и ораторские навыки, научиться вести спор без драк и одерживать победу красиво. </string>
		<key>Name</key>
		<string>Клуб дебатов ВШЭ</string>
	</dict>
	<dict>
		<key>Site</key>
		<string>vk.com/sc_gorod</string>
		<key>Desc</key>
		<string>Сообщество молодых социо¬логов, которые играют в куклы по-взрослому. Здесь ты можешь защитить и проверить свою теорию, провести исследования и получить критику, разобрать¬ся с учебными материалами под руководством профессионалов, предложить проект для реализа¬ции.</string>
		<key>Name</key>
		<string>Социологический клуб «Город» </string>
	</dict>
	<dict>
		<key>Site</key>
		<string>students.hse.ru/trng</string>
		<key>Desc</key>
		<string>Здесь поднимают и укрепляют ко¬мандный дух: школьники и студен¬ты, преподаватели и работники ад¬министрации Вышки принимают участие в мероприятиях Школы, учатся поддерживать друг друга и работать в команде. Среди актив¬ностей – веревочные курсы, ани¬мационные программы, ролевые игры, квесты и профориентацион¬ные мероприятия. </string>
		<key>Name</key>
		<string>Школа тренинга </string>
	</dict>
	<dict>
		<key>Site</key>
		<string>vk.com/aegee_moskva</string>
		<key>Desc</key>
		<string>Если ты хочешь недорого, инте¬ресно и полезно путешествовать по Европе, AEGEE тебе в этом поможет. Организация мони¬торит семинары, конференции, тренинги, полевые исследования и летние университеты по всей Европе, подыскивает дешевое проживание и перемещение, позволяет получать знания и участвовать в культурных меро¬приятиях. </string>
		<key>Name</key>
		<string>AEGEE</string>
	</dict>
	<dict>
		<key>Site</key>
		<string>students.hse.ru/AIESEC</string>
		<key>Desc</key>
		<string>AIESEC – это международная мо¬лодежная организация, которой управляют студенты и недавние выпускники. 
Ты можешь попробовать себя в HR- и PR-сфере, вести деловые переговоры, организовывать ме¬роприятия, практиковать англий¬ский и выучить любой другой язык, отправившись на стажиров¬ку по программе Global Citizen. </string>
		<key>Name</key>
		<string>AIESEC – отделение в НИУ ВШЭ 
AIESEC – отделение в НИУ ВШЭ </string>
	</dict>
	<dict>
		<key>Site</key>
		<string>dialog-ev.org/ru</string>
		<key>Desc</key>
		<string>Объединение студентов и вы¬пускников, интересующихся Гер¬манией и российско-немецкими отношениями. Проходят встречи и круглые столы с немецки¬ми бизнесменами, политиками, учеными. Хочешь узнать больше о Германии, найти новых друзей и обрасти профессиональными контактами? Присоединяйся! </string>
		<key>Name</key>
		<string>Ассоциация экономистов России и Германии «Диалог+» </string>
	</dict>
	<dict>
		<key>Site</key>
		<string>vk.com/pnhse</string>
		<key>Desc</key>
		<string>Организация объединяет в себе студентов со всего мира, прово¬дит вечера культур различных народов, круглые столы, благо¬творительные акции, спортив¬ные мероприятия. </string>
		<key>Name</key>
		<string>«Палата национальностей» </string>
	</dict>
	<dict>
		<key>Site</key>
		<string>vk.com/ingroup_ctc</string>
		<key>Desc</key>
		<string>Одна из старейших студорга¬низаций ВШЭ. Уже более 15 лет СтС создает в Вышке уникальные проекты и мероприятия, делая внеучебную жизнь университе¬та по-настоящему интересной. Если ты хочешь познать event-management, применить свои таланты в графике и видео, по¬пробовать себя в PR, HR и адми¬нистрировании, готов творить проекты на аудиторию в 50 или 2500 человек и не боишься не¬стандартных задач, то СтС всегда открыт для новых людей и идей. </string>
		<key>Name</key>
		<string>«Ингруп СтС»</string>
	</dict>
	<dict>
		<key>Site</key>
		<string>vk.com/chgk_aic</string>
		<key>Desc</key>
		<string>Здесь ты можешь развить свою эрудицию и научиться культуре интеллектуальных игр, участвуя в турнирах разного уровня. </string>
		<key>Name</key>
		<string>Ассоциация интеллектуаль¬ных клубов</string>
	</dict>
	<dict>
		<key>Site</key>
		<string>vk.com/hse_ultimate</string>
		<key>Desc</key>
		<string>Алтимат – командный спорт с летающим диском фрисби, где объединено лучшее от баскет¬бола и американского футбола. Развивает ловкость, скорость и выносливость. Сборная ВШЭ успешно защищает честь вуза на всероссийских соревнованиях. </string>
		<key>Name</key>
		<string>Алтимат-клуб </string>
	</dict>
	<dict>
		<key>Site</key>
		<string>vk.com/hsetrip</string>
		<key>Desc</key>
		<string>Консультант по студенческим путешествиям, который помогает организовать выезд, найти идею для поездки и попутчиков, а по итогам устраивает мероприятия – встречи, afterparty и пр., где участники делятся своими впе-чатлениями. </string>
		<key>Name</key>
		<string>Клуб студенческих путеше¬ствий HSE Trip </string>
	</dict>
	<dict>
		<key>Site</key>
		<string>xsportclub.ru</string>
		<key>Desc</key>
		<string>ЭВС занимается организацией активного отдыха и приключе¬ний во всех проявлениях – от цивилизованного студенческого отдыха до самых экстремаль¬ных экспедиций и соревнова¬ний. Не важно, есть ли у тебя опыт походов или путешествий, хочешь ли ты быть участником или организатором, здесь ты найдешь занятие по душе! </string>
		<key>Name</key>
		<string>Клуб «Экстремальные виды спорта» </string>
	</dict>
	<dict>
		<key>Site</key>
		<string>vk.com/tkhse</string>
		<key>Desc</key>
		<string>Однодневные походы по Подмо¬сковью и маршруты высших ка¬тегорий сложности в горах, тайге и по бурным рекам. Турклуб уча¬ствует в соревнованиях по ори¬ентированию и технике туризма. Работает школа туристской под¬готовки с опытными инструкто¬рами. Ни разу не был в походе или ты уже опытный турист? В любом случае приходи! </string>
		<key>Name</key>
		<string>Турклуб МИЭМ НИУ ВШЭ </string>
	</dict>
	<dict>
		<key>Site</key>
		<string>green.hse.ru</string>
		<key>Desc</key>
		<string>Занимается экологическими во¬просами, внедряет экологичный образ жизни в Вышке и прово¬дит экособытия, в том числе об¬щегородские: раздельный сбор мусора, расчистка городского пространства и утилизация опасных отходов (батареек). </string>
		<key>Name</key>
		<string>«Зеленая Вышка» </string>
	</dict>
	<dict>
		<key>Site</key>
		<string>case-club.ru</string>
		<key>Desc</key>
		<string>В клубе изучают бизнес-кей¬сы в теории и на практике. Здесь можно научиться тому, как делать настоящий бизнес. Помогут в этом эксперты из McKinsey, Goldman Sachs, P&amp;G и других известных международ¬ных компаний. </string>
		<key>Name</key>
		<string>Кейс Клуб (Case Club) НИУ ВШЭ </string>
	</dict>
	<dict>
		<key>Site</key>
		<string>keystone-society.com</string>
		<key>Desc</key>
		<string>Организация поможет тебе по¬строить карьеру в инвестицион¬ном бизнесе и научит общаться в форме дискуссии. Проходят нескучные встречи с представи¬телями крупнейших банков. 
Здесь также можно найти инте¬ресную вакансию и стажировку в сфере финансов. </string>
		<key>Name</key>
		<string>Keystone – Investment Banking Student Organization </string>
	</dict>
	<dict>
		<key>Site</key>
		<string>vk.com/entry_job</string>
		<key>Desc</key>
		<string>Ресурс по развитию и трудо-устройству, который поможет найти подходящую вакансию в сфере финансов. </string>
		<key>Name</key>
		<string>ENTRY</string>
	</dict>
	<dict>
		<key>Site</key>
		<string>styleru.net/blog</string>
		<key>Desc</key>
		<string>Сюда можно обратиться с идеей проекта в сфере IT и инновацион¬ного предпринимательства, чтобы найти профессиональную под¬держку. </string>
		<key>Name</key>
		<string>«Бизнес в стиле .RU» </string>
	</dict>
	<dict>
		<key>Site</key>
		<string>kivi-hse.ru</string>
		<key>Desc</key>
		<string>Сообщество предпринимателей и бизнесменов Вышки, которое помогает найти новые связи, зна¬комит с успешными предприни¬мателями, проводит лекции, кон¬сультирует новичков в бизнесе. </string>
		<key>Name</key>
		<string>КИВИ</string>
	</dict>
	<dict>
		<key>Site</key>
		<string>ufights.net</string>
		<key>Desc</key>
		<string>Здесь учат выходить из любых конфликтных ситуаций, стойко вести себя на деловых перегово¬рах, отстаивать свои интересы, что позволит стать сильным биз¬несменом в будущем.</string>
		<key>Name</key>
		<string>Клуб переговорных техноло¬гий Ufights </string>
	</dict>
	<dict>
		<key>Site</key>
		<string>culture.hse.ru/klass</string>
		<key>Desc</key>
		<string>Основан на базе Школы фило¬софии НИУ ВШЭ и работает в формате мастер-классов, в ходе которых проходят обсуж-дения актуальных культурных событий. </string>
		<key>Name</key>
		<string>Культурологический клуб «Креативный класс» </string>
	</dict>
	<dict>
		<key>Site</key>
		<string>icefoutreach.ru</string>
		<key>Desc</key>
		<string>ICEF Outreach организует приезды детей из интернатов в Москву на экскурсии и каждый месяц устраивает благотворительные продажи домашней выпечки Bake Sales. Также проводит ежегодный благотворительный вечер. Со-вместно с социальным проектом «+1» отделения культурологии ор¬ганизует поездки в детские дома. Участники проекта знакомят детей с искусством, культурой и традициями разных стран. Помо¬гать – это просто! </string>
		<key>Name</key>
		<string>ICEF Outreach </string>
	</dict>
	<dict>
		<key>Site</key>
		<string>vk.com/bestbuddies_hse</string>
		<key>Desc</key>
		<string>Отделение международной бла¬готворительной организации, главная задача которого – созда¬ние дружеских отношений между молодыми людьми с нарушения¬ми развития и студентами Вышки. Best Buddies НИУ ВШЭ – общение с удивительными, талантливыми людьми, вдохновляющими своим примером на новые свершения! </string>
		<key>Name</key>
		<string>Клуб Best Buddies НИУ ВШЭ </string>
	</dict>
	<dict>
		<key>Site</key>
		<string>vk.com/sts_charity</string>
		<key>Desc</key>
		<string>Проект «Открой глаза» работает с больницами, детскими домами, оказывает адресную помощь. Основная задача – мобилизовать студентов Вышки, дать им воз¬можность помочь тем, кто в беде, тем, кому действительно тяжело. «Открой глаза» регулярно про¬водит благотворительные акции, ярмарки и мастер-классы.</string>
		<key>Name</key>
		<string>«Открой глаза» </string>
	</dict>
	<dict>
		<key>Site</key>
		<string>vk.com/tv_hse</string>
		<key>Desc</key>
		<string>Хочешь быть продюсером или те¬леведущим? Заниматься пиаром? Умеешь снимать, монтировать? Или у тебя куча идей для съемок? 
Тогда «ТелеВышка» – для тебя. Ре¬дакция интернет-канала создает репортажи о жизни университета, о самых интересных и важных событиях Москвы, о россий¬ских и зарубежных стажировках. Приходи в «ТелеВышку» и снимай вместе с ребятами! </string>
		<key>Name</key>
		<string>«ТелеВышка» </string>
	</dict>
	<dict>
		<key>Site</key>
		<string>vk.com/hsepress</string>
		<key>Desc</key>
		<string>Старейшее студенческое издание университета о событиях и людях Вышки, о жизни, какая она есть. Это репортажи об основных ме¬роприятих университета, афиша самого интересного в городе, рецензии на лучшие фильмы и самые захватывающие книги. Может быть полезно постажиро¬ваться здесь в качестве коррек¬тора, фотографа, журналиста, дизайнера. </string>
		<key>Name</key>
		<string>High School Press </string>
	</dict>
	<dict>
		<key>Site</key>
		<string>thevyshka.ru</string>
		<key>Desc</key>
		<string>Интернет-журнал, посвященный жизни университета в разных ее проявлениях. Среди тем: успешные выпускники и сту-денты, новинки издательства ВШЭ, места для отдыха и учебы и многое другое. Принимает в свои ряды юных редакторов, фо¬тографов, программистов, вер¬стальщиков. </string>
		<key>Name</key>
		<string>THE ВЫШКА </string>
	</dict>
	<dict>
		<key>Site</key>
		<string>hsesports.ru</string>
		<key>Desc</key>
		<string>Информационное издание о спортивной жизни университе¬та, где ты можешь попробовать себя в качестве обозревателя и научиться правильно писать о спорте. </string>
		<key>Name</key>
		<string>HSE Sports </string>
	</dict>
	<dict>
		<key>Site</key>
		<string>www.hse.ru/culture/histrec</string>
		<key>Desc</key>
		<string>Клуб занимается воссозданием быта средневековой Англии второй половины XV-го века. Тебя научат историческому фех¬тованию и стрельбе из англий¬ского длинного лука, изготовле¬нию исторического костюма, а также дадут роль на фестивалях живой истории, которые прохо¬дят в летнее время. </string>
		<key>Name</key>
		<string>Клуб исторической реконструкции Spiritum Saeculorum </string>
	</dict>
	<dict>
		<key>Site</key>
		<string>vk.com/case_school</string>
		<key>Desc</key>
		<string>HSE Case School - проект студентов Высшей Школы Экономики, созданный с целью подготовки к популярным чемпионатам по решению бизнес-кейсов.</string>
		<key>Name</key>
		<string>Кейс школа</string>
	</dict>
	<dict>
		<key>Site</key>
		<string>vk.com/vyshiy_pilotazh</string>
		<key>Desc</key>
		<string>Студенческий продюсерский центр создан доказать, что нет необходимости получать славу &quot;по наследству&quot;. Если у Вас есть талант, Вы считаете себя музыкантом, художником, режиссером, писателем, или другим деятелем исскусства, наша команда готова помочь Вам реализовать себя, оказав поддержку в изготовлении и реализации готового материала, а также его рекламе.</string>
		<key>Name</key>
		<string>&quot;Высший пилотаж&quot;</string>
	</dict>
</array>
</plist>
