<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>Question</key>
		<string>Клянусь, что никогда не буду просыпать первую пару, особенно когда стану преподавателем.</string>
	</dict>
	<dict>
		<key>Question</key>
		<string>Клянусь, что объясню бабушке, почему ВУЗ называется &quot;школа&quot;.</string>
	</dict>
	<dict>
		<key>Question</key>
		<string>Клянусь хоть раз крикнуть из кона &quot;халява приди!&quot;</string>
	</dict>
	<dict>
		<key>Question</key>
		<string>Клянусь хоть раз крикнуть &quot;дайте поспать&quot; тем, кто кричит &quot;халява приди&quot;.</string>
	</dict>
	<dict>
		<key>Question</key>
		<string>Клянусь хоть раз спеть в общежитии с друзьями под гитару песню &quot;растолстела&quot;.</string>
	</dict>
	<dict>
		<key>Question</key>
		<string>Клянусь учиться в Вышке пока три незача не разлучат нас.</string>
	</dict>
	<dict>
		<key>Question</key>
		<string>Клянусь быть верным духу Вышки.</string>
	</dict>
	<dict>
		<key>Question</key>
		<string>Клянусь с уважением относиться к студентам и преподавателям.</string>
	</dict>
	<dict>
		<key>Question</key>
		<string>Клянусь стремиться к знаниям.</string>
	</dict>
	<dict>
		<key>Question</key>
		<string>Клянусть верить в себя и не сдаваться. Даже, если я попал на пересдачу или на комиссию или.. в армию.</string>
	</dict>
	<dict>
		<key>Question</key>
		<string>Клянусь учиться не для школы, а для жизни.</string>
	</dict>
	<dict>
		<key>Question</key>
		<string>Клянусь стать ученым, министром, миллионером.. ну или хотя бы Вышку закончить.</string>
	</dict>
</array>
</plist>
